/*
 Va en cascada, el último predomina.
 # es para id's, solo por página puede tener 1
 . es para clases es para ser reutilizada
 
*/


/* HEADER */

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    /*Muestra la imagen desde el centro*/
    background-size: cover;
    /*Tomar el espacio disponible tanto en alto y 
    ancho guardando las proporciones*/
    height: 100vh;
    min-height: 600px;
    /*toma la altura de la pantalla*/
}